<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.jh"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".JhApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.jh.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.joehukum.chat.ui.activities.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name="com.joehukum.chat.messages.sync.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <!-- This points to an XMLf ile which describes our account service. -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service android:name="com.joehukum.chat.messages.sync.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>

        <provider
            android:name="com.joehukum.chat.messages.database.MessageProvider"
            android:authorities="com.jh"
            android:exported="false"
            android:multiprocess="true"/>

        <service
            android:name="com.joehukum.chat.messages.pubsub.JhGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="gcm.play.android.samples.com.gcmquickstart"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.joehukum.authority"
            android:value="com.jh"/>

        <meta-data
            android:name="com.joehukum.chat.notification.icon"
            android:resource="@drawable/ic_notif_big"/>

    </application>

</manifest>
